{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="about-container">
    <h1>Обо мне</h1>
    <div class="about-content">
        <img src="{% static 'core/images/photographer.jpg' %}" alt="Фотограф" class="about-photo">
        <div class="about-text">
            {% if settings.about_text %}
                {{ settings.about_text|linebreaks }}
            {% else %}
                <p>Привет! Меня зовут Алексей, и я профессиональный фотограф.</p>
                <p>Мой стиль - естественность и легкость. Я помогу вам раскрепоститься перед камерой и получить живые, эмоциональные кадры.</p>
                <p>Работаю с: портретной съемкой, love story, семейными фотосессиями и небольшими свадьбами.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}